@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


.navbar {
    background-color: #ffffff;
}

.navbar a {
    color: #000000;
    text-decoration: none;
}
/* custom styling for focus on input fields */
input:focus {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: transparent;
    --tw-ring-color: transparent;
    --tw-ring-offset-shadow: none;
    --tw-ring-shadow: none;
    box-shadow: none;
}


h1, h2 {
    @apply font-title text-primary-text;
    @apply p-2 m-2;
}
h3, h4, h5, h6 {
    @apply font-subtitle text-primary-text;
}
p, a, label, input, select, button, ul, ol, li, span {
    @apply font-paragraph text-primary-text;
}

h1 {
    @apply text-6xl p-2 m-2;
}
h2 {
    @apply text-5xl;
}
h3 {
    @apply text-4xl;
}
h4 {
    @apply text-3xl;
}
h5 {
    @apply text-2xl;
}
h6 {
    @apply text-xl;
}

main a:hover:not(.btn-read-gray):not(.btn-color-cat) {
    text-decoration: none;
}
/* Custom styling for the date picker button */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

/* Firefox specific styling */
input[type="date"]::-moz-focus-inner,
input[type="datetime-local"]::-moz-focus-outer {
    border: 0;
}
/* Custom styling for the date picker button */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

/* Firefox specific styling */
input[type="date"]::-moz-focus-inner,
input[type="datetime-local"]::-moz-focus-outer {
    border: 0;
}
/* General styling for the select element */
select {
    @apply w-full text-white bg-slate-900 border rounded-md focus:ring-white;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.8rem center;
    background-size: 1.25rem 1.25rem;
    padding-right: 2.5rem; /* Ensure padding does not hide the chevron */
}

/* Remove default styling in different browsers */
select::-ms-expand {
    display: none;
}

select:-moz-focusring {
    text-shadow: 0 0 0 #000;
}

