@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.snow.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar {
    background-color: #ffffff;
}

.navbar a {
    color: #000000;
    text-decoration: none;
}

.navbar input[type="search"] {
    outline: none;
    border: 1px solid #cccccc;
}
